/* Estilos básicos (Modo Claro) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

/* Estilos del menú de navegación */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para las secciones */
section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos del footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Modo oscuro */
body.dark-mode {
    background-color: #1c1c1c;
    color: #f4f4f4;
}

header.dark-mode {
    background-color: #111;
}

nav ul li a.dark-mode {
    color: #f4f4f4;
}

section.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

footer.dark-mode {
    background-color: #111;
}

/* Botón del modo oscuro */
#modo-switch {
    margin-top: 20px;
    padding: 10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#modo-switch:hover {
    background-color: #555;
}



